.idea
Web/TrojanOrVirus/TrojanFile/*
**/.DS_Store
**/__pycache__
Medusa.db
Nist.db
my.log
Log
ScanResult
Temp
marshalsec.jar
dump.rdb
scheduler.lock
**/CrossSiteScriptProject
**/Image
CrossSiteScriptProject
MedusaScan.py
ProxyServer.py
Banner.py
Web/Mail/Attachment/*
Web/Mail/MailboxDetection.py
Temp/Modules/*