<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
     <div style="margin: 15% 40%;">
        <h1>来吧宝贝！</h1>
       <form action="/register/" method="post">
            <p>
                <label for="id_username">用户名：</label>
                <input type="text" id="id_username" name="username" placeholder="用户名" autofocus required />
            </p>

            <p>
                <label for="id_password1">密码：</label>
                <input type="password" id="id_password1" placeholder="密码" name="password1" required >
            </p>
            <p>
                <label for="id_password2">再次确认密码：</label>
                <input type="password" id="id_password2" placeholder="密码" name="password2" required >
            </p>
             <p>
                <label for="id_password2">邮箱：</label>
                <input type="text" id="id_emil" placeholder="邮箱" name="emil" required >
            </p>
            <input type="submit" value="确定">
        </form>
    </div>



</body>
</html>